{{ template "si_head.html" . }}
<div class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="card ">
        <div class="card-header">
          <h4 class="card-title"> Beneficiaries</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>
                    Unique Id
                  </th>
                  <th>
                    Full Name
                  </th>
                  <th>
                    Program
                  </th>
                  <th>
                    Profile
                  </th>
                  {{ if .is_admin}}
                  <th>
                    Progress Track
                  </th>
                  {{end}}
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                  .id 
                  </td>
                  <td>
                .Full_name
                  </td>
                  <td>
                  .program
                  </td>
                  <td>
                    <a href="/si/profile?beneficiary=Beneficiary">Profile</a>
                  </td>
                  {{ if .is_admin}}
                  <td>
                    <a href="/si/progresstrack?beneficiary=Beneficiary">Progress Track</a>
                  </td>
                  {{end}}
                  <!-- <td class="text-center">
                    $36,738
                  </td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
     
      {{ template "si_footer.html" . }}