{{ template "si_head.html" . }}
<div class="content">
  <div class="row">
    <div class="col-12">
      <!-- <div class="card card-chart">
        <div class="card-header "> -->
          <div class="row">
            <div class="col-sm-12">
              <!-- ======= Survey ======= -->
              <section id="faq" class="faq section-bg">
                  <div class="container" data-aos="fade-up">
            
                    <div class="section-title">
                      <h2>Survey</h2>
                    </div>
            
                    <div class="faq-list">
                      <ul>
                        <li data-aos="fade-up" data-aos-delay="100">
                          <a data-toggle="collapse" class="collapsed" href="#faq-list-1">Baseline Survey<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                          <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                           
                            <p>SI Beneficiaries Baseline <a href="">Share<i class="icofont-share"></i></a><a href="">Download<i class="icofont-download"></i></a><a href="/explore">Explore<i class="icofont-chart-bar-graph"></i></a></p>
                           
                          </div>
                        </li>
            
                        <li data-aos="fade-up" data-aos-delay="200">
                          <a data-toggle="collapse" href="#faq-list-2" class="collapsed">Review Survey<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                          <div id="faq-list-2" class="collapse" data-parent=".faq-list">
                            
                            <p>SI Beneficiaries Review <a href="">Share<i class="icofont-share"></i></a><a href="">Download<i class="icofont-download"></i></a><a href="/explore">Explore<i class="icofont-chart-bar-graph"></i></a></p>
                            
                          </div>
                        </li>
            
                        <li data-aos="fade-up" data-aos-delay="300">
                          <a data-toggle="collapse" href="#faq-list-3" class="collapsed">Outcome Survey<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                          <div id="faq-list-3" class="collapse" data-parent=".faq-list">
                           
                              
                            <p>SI Beneficiaries Outcome <a href="">Share<i class="icofont-share"></i></a><a href="">Download<i class="icofont-download"></i></a><a href="/explore">Explore<i class="icofont-chart-bar-graph"></i></a></p>
                            
                          </div>
                        </li>
                      </ul>
                    </div>
            
                  </div>
                </section><!-- End Survey -->

                <!-- ======= Survey 2 ======= -->
              <section id="faq2" class="faq2 section-bg">
                <div class="container" data-aos="fade-up">
          
                  <div class="section-title">
                    <h2>Survey</h2>
                  </div>
          
                  <div class="faq2-list">
                    <ul>
                      <li data-aos="fade-up" data-aos-delay="100">
                        <a data-toggle="collapse" class="collapsed" href="#faq2-list-1">Baseline Survey<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq2-list-1" class="collapse show" data-parent=".faq2-list">
                          <div style="overflow-x:auto;">
                            <table>
                              
                              <tr>
                                <td>SI Beneficiaries Baseline</td>
                                <td><a href="">Share<i class="icofont-share"></i></a></td>
                                <td><a href="">Download<i class="icofont-download"></i></a></td>
                                <td><a href="/explore">Explore<i class="icofont-chart-bar-graph"></i></a></td>
                              </tr>
                              
                            </table>
                          </div>
                        </div>
                      </li>
          
                      <li data-aos="fade-up" data-aos-delay="200">
                        <a data-toggle="collapse" href="#faq2-list-2" class="collapsed">Review Survey<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq2-list-2" class="collapse" data-parent=".faq2-list">
                          <div style="overflow-x:auto;">
                            <table>
                              
                              <tr>
                                <td>SI Beneficiaries Review</td>
                                <td><a href="">Share<i class="icofont-share"></i></a></td>
                                <td><a href="">Download<i class="icofont-download"></i></a></td>
                                <td><a href="/explore">Explore<i class="icofont-chart-bar-graph"></i></a></td>
                              </tr>
                              
                            </table>
                          </div>
                        </div>
                      </li>
          
                      <li data-aos="fade-up" data-aos-delay="300">
                        <a data-toggle="collapse" href="#faq2-list-3" class="collapsed">Outcome Survey<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                        <div id="faq2-list-3" class="collapse" data-parent=".faq2-list">
                          <div style="overflow-x:auto;">
                            <table>
                              
                              <tr>
                                <td>SI Beneficiaries Outcome</td>
                                <td><a href="">Share<i class="icofont-share"></i></a></td>
                                <td><a href="">Download<i class="icofont-download"></i></a></td>
                                <td><a href="/explore">Explore<i class="icofont-chart-bar-graph"></i></a></td>
                              </tr>
                              
                            </table>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
          
                </div>
              </section><!-- End Survey -->

                
            </div>
          </div>
        <!-- </div>
      </div> -->
    </div>
  </div>
</div>
      {{ template "si_footer.html" . }}