{{ template "base_head.html" . }}

      <div class="content">
        <div class="row">
          <div class="col-12">
            <!-- <div class="card card-chart">
              <div class="card-header "> -->
                <div class="row">
                  <div class="col-sm-12">
                     <!-- ======= Team Section ======= -->
 <section id="team" class="team">

    <div class="container" data-aos="fade-up">

      <header class="section-header">
        <h2>Beneficiaries</h2>
        <p>Meet our vibrant beneficiaries</p>
      </header>

      <div class="row gy-4">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="member">
            <div class="member-img">
              <img src="../assets/img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>JESCA & LIGHTNESS</h4>
              <span>Founders, Afrecast Art Center</span>
              <a href="/progress">Report</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="member">
            <div class="member-img">
              <img src="../assets/img/profile-img01.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>ERICK SIWANGO</h4>
              <span>Founder, Circle Financing Portal</span>
              <a href="circle.html">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="member">
            <div class="member-img">
              <img src="../assets/img/profile-img03.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>ALLEN, DENIS & DOREEN</h4>
              <span>Founders, Clarity</span>
              <a href="clarity.html">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
          <div class="member">
            <div class="member-img">
              <img src="../assets/img/profile-img4.jpg" class="img-fluid" alt="">
            </div>
            <div class="member-info">
              <h4>LINDA & WITNESS</h4>
              <span>Founders, Community Impact Microfinance</span>
              <a href="cim.html">Learn More</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row gy-4">
        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="member">
              <div class="member-img">
                <img src="../assets/img/profile-img5.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>ESHE & HASHIM</h4>
                <span>Founders, DN Halisi Dustless Chalk Enterprise</span>
                <a href="dn.html">Learn More</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="member">
              <div class="member-img">
                <img src="../assets/img/profile-img6.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>Nangidare Lengai</h4>
                <span>Founder, Ewong’an Traditional Tourism</span>
                <a href="Ewong.html">Learn More</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="member">
              <div class="member-img">
                <img src="../assets/img/profile-img7.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>MAJALIWA, YOUHANI & GEHAZI</h4>
                <span>Founders, Jembe Digital</span>
                <a href="Jembe.html">Learn More</a>
              </div>
            </div>
          </div>
  
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
            <div class="member">
              <div class="member-img">
                <img src="../assets/img/profile-img8.jpg" class="img-fluid" alt="">
              </div>
              <div class="member-info">
                <h4>GLORY JARED MTEI</h4>
                <span>Founder, Moow! Life</span>
                <a href="Moow.html">Learn More</a>
              </div>
            </div>
          </div>
      </div>

    </div>

  </section><!-- End Team Section -->  

                      
                  </div>
                </div>
              <!-- </div>
            </div> -->
          </div>
        </div>
      </div>
      {{ template "base_footer.html" . }}