{{ template "base_head.html" . }}
<style>
  table {
    color: white;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 1em;
    border: 1px solid #ddd;
    background-color: #43c4a1;
  }
  
  th, td {
    text-align: left;
    padding: 13px;
  }

  td a{
    color: aliceblue;
  }

  td a:hover{
    color: #2bffc6;
  }

  td a i{
    padding: 5px;
  }
  
  tr:nth-child(even){background-color: #5e72e4}
  </style>
      <div class="content">
        <div class="row">
          <div class="col-12">
            <!-- <div class="card card-chart">
              <div class="card-header "> -->
                <div class="row">
                  <div class="col-sm-12">
                    <div class="section-title">
                        <h2>Survey Name</h2>
                      </div>
                      <div style="overflow-x:auto;">
                        <table class="opt-tab">
                          <tr>
                            <td></td>
                            <td><a href=""><i class="icofont-save"></i> Save</a></td>
                            <td><a href=""><i class="icofont-download"></i>Download</a></td>
                            <td><a href=""><i class="icofont-ui-previous"></i> Reset</a></td>
                            <td><a href=""><i class="icofont-question"></i> Help</a></td>
                            <td></td>
                          </tr>
                        </table>
                      </div>
                    <div style="overflow-x:auto;">
                        <table>
                          <tr>
                            <td></td>
                            <td>Total</td>
                            <td>Not Loaded</td>
                            <td>Excluded</td>
                            <td>Available</td>
                            <td>Average</td>
                          </tr>
                          <tr>
                            <td>SUBMISSIONS</td>
                            <td>Total</td>
                            <td>Not Loaded</td>
                            <td>Excluded</td>
                            <td>Available</td>
                            <td>Average</td>
                          </tr>
                          <tr>
                            <td>FIELDS</td>
                            <td>Total</td>
                            <td>Not Loaded</td>
                            <td>Excluded</td>
                            <td>Available</td>
                            <td>Average</td>
                          </tr>
                          <tr>
                            <td>DURATION</td>
                            <td>Total</td>
                            <td>Not Loaded</td>
                            <td>Excluded</td>
                            <td>Available</td>
                            <td>Average</td>
                          </tr>
                        </table>
                      </div>

                      
                  </div>
                </div>
              <!-- </div>
            </div> -->
          </div>
        </div>
      </div>

      {{ template "base_footer.html" . }}