{{ template "base_head.html" . }}
<div class="content">
    <div class="row">
        <div class="col-12">
            <!-- <div class="card card-chart">
          <div class="card-header "> -->
            <div class="row">
                <div class="col-sm-12">
                    <!-- ======= Hero Section ======= -->
                    <section id="hero" class="d-flex flex-column justify-content-center">
                        <div class="container" data-aos="zoom-in" data-aos-delay="100">
                            <form>
                                <div class="form-group">
                                    <label>Beneficiary Name</label>
                                    <input type="text" class="form-control" id="benename" placeholder="Beneficiary Name">
                                </div>
                                <div class="form-group">
                                    <label>Beneficiary Title</label>
                                    <input type="text" class="form-control" id="benename" placeholder="Founder @ ....">
                                </div>
                                <div class="form-group">
                                    <label>Program in</label>
                                    <input type="text" class="form-control" id="benename" placeholder="Program">
                                </div>

                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </section>
                    <!-- End Hero -->
                </div>
            </div>
            <!-- </div>
        </div> -->
        </div>
    </div>
</div>

{{ template "base_footer.html" . }}