{{ template "base_head.html" . }}

      <div class="content">
        <div class="row">
          <div class="col-12">
            <!-- <div class="card card-chart">
              <div class="card-header "> -->
                <div class="row">
                  <div class="col-sm-12">
                     <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Introduction</h2>
            <p>Our social innovation idea is creating beauty out of waste and make the society 
                knows the value of preventing the environment from waste and take the waste as 
                opportunity for their own development by applying handcrafted skills to produce 
                something beautiful and usable,also we will make the society to understand the 
                value of art as art is a visual presentation in what is happening in the community so the society will have to take art as means of communication because art is always connected  to the society.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-4">
              <img src="../assets/img/profile-img.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
              <h3>About <!--&amp;--></h3>
              <!-- <p class="font-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua.
              </p> -->
              <div class="row">
                <div class="col-lg-6">
                  <ul>
                    <li><i class="icofont-rounded-right"></i> <strong>Social Innovation:</strong> Afrecast Art Center</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> N/A</li>
                    <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Dar es salaam, Tanzania</li>
                    <!-- <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Dar es salaam, Tanzania</li> -->
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul>
                    <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +255 658 381 071</li>
                    <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> lightnesswalter5@gmail.com</li>
                    <li><i class="icofont-rounded-right"></i> <strong>LinkedIn:</strong> Lightness Walter</li>
                    <!-- <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li> -->
                  </ul>
                </div>
              </div>
              <h3>Vision <!--&amp;--></h3>
              <p>
                  Our vision in two years from now is  to increase the number of people who will 
                  participate and engage in the field of art and take it as a serious career goal.
              </p>
              <h3>Mission</h3>
              <p>
                  Our mission is to remove the bad perception concerning art that art is a 
                  leisure and not a career goal so we want the society to take art as a serious 
                  career goal as they take in other fields like doctor and engineers. 
              </p>
            </div>
          </div>
          <br>
          <h3>The Challenge being addressed <!--&amp;--></h3>
              <p>
                  The challenge is that we are addressing is environmental pollution as it as 
                  been a big problem in the society because there is a waste all over the place  
                  and all surrounded environment and make the environment uncomfortable for the 
                  people around the society so we want to make the environment comfortable for 
                  us and for our future generations and also the project  we will solve the 
                  problem of unemployment to the 7 out of 10 youth in our society by proving 
                  skills and offer the employment opportunities to the people within the 
                  community and in progress we will be reducing the rate of poverty in the society.
              </p>
          <br>
          <h3>Who is the solution for? Describe your customer <!--&amp;--></h3>
              <p>
                  Our customers are foreigners who are staying within my society. Tourists and 
                  local people are few from middle and upper class but we want to expand our 
                  customer base by engaging people from my community to participate and get the 
                  opportunity to practice and enjoy the art field. 
              </p>
          <br>
          <h3>What support do you need to bring the innovation to life <!--&amp;--></h3>
              <p>
                  The support that we need is mentorship,General training, research training,
                  business management training and funding inorder to guide and bring our ideals into life.
              </p>
  
        </div>
      </section><!-- End About Section -->
  
      <!-- ======= Skills Section ======= -->
      <!-- <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Skills</h2>
            <p>Here are the skills obtained during the Dare2Change Tanzania 2020 training program.</p>
          </div>
  
          <div class="row skills-content">
  
            <div class="col-lg-6">
  
              <div class="progress">
                <span class="skill">Design Thinking <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
              <div class="progress">
                <span class="skill">Gender Equality <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
              <div class="progress">
                <span class="skill">Social Enteprise Business Model <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
            </div>
  
            <div class="col-lg-6">
  
              <div class="progress">
                <span class="skill">Financial Management <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
              <div class="progress">
                <span class="skill">Personal Branding <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
              <div class="progress">
                <span class="skill">Theory of Change <i class="val">100%</i></span>
                <div class="progress-bar-wrap">
                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
  
            </div>
  
          </div>
  
        </div>
      </section> -->
      <!-- End Skills Section -->
                      
                  </div>
                </div>
              <!-- </div>
            </div> -->
          </div>
        </div>
      </div>

      {{ template "base_footer.html" . }}