
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/logo1.png">
  <link rel="icon" type="image/png" href="../assets/img/logo1.png">
  <title>
    {{ .title }}
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/icofont/icofont.min.css" rel="stylesheet">
  <link href="../assets/boxicons/css/boxicons.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="../assets/css/style.css" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <!-- <link href="../assets/demo/demo.css" rel="stylesheet" /> -->
  
</head>
       
    <body class="">
        <div class="wrapper">
          <div class="sidebar">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
          -->
            <div class="sidebar-wrapper">
              <div class="logo">
                <a href="/dashboard" class="simple-text logo-mini">
                  DOT
                </a>
                <a href="/dashboard" class="simple-text logo-normal">
                  TZ
                </a>
              </div>
              <ul class="nav">
                <li>
                  <a href="/dashboard">
                    <i class="tim-icons icon-minimal-up"></i>
                    <p>Home</p>
                  </a>
                </li>
                <li>
                  <a href="/statistics">
                    <i class="tim-icons icon-chart-bar-32"></i>
                    <p>Statistics</p>
                  </a>
                </li>
                <li>
                  <a href="/survey">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Survey</p>
                  </a>
                </li>
                <li>
                  <a href="/programs">
                    <i class="tim-icons icon-components"></i>
                    <p>Programs</p>
                  </a>
                </li>
                <li>
                  <a href="/gallery">
                    <i class="tim-icons icon-chart-pie-36"></i>
                    <p>Gallery</p>
                  </a>
                </li>
                <!-- <li>
                  <a href="./notifications.html">
                    <i class="tim-icons icon-bell-55"></i>
                    <p>Notifications</p>
                  </a>
                </li> -->
                <li>
                  <a href="/user">
                    <i class="tim-icons icon-single-02"></i>
                    <p>User Profile</p>
                  </a>
                </li>
                <li>
                  <a href="/table">
                    <i class="tim-icons icon-puzzle-10"></i>
                    <p>Table List</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
              <div class="container-fluid">
                <div class="navbar-wrapper">
                  <div class="navbar-toggle d-inline">
                    <button type="button" class="navbar-toggler">
                      <span class="navbar-toggler-bar bar1"></span>
                      <span class="navbar-toggler-bar bar2"></span>
                      <span class="navbar-toggler-bar bar3"></span>
                    </button>
                  </div>
                  <a class="navbar-brand" href="javascript:void(0)">DOT</a>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                  <span class="navbar-toggler-bar navbar-kebab"></span>
                </button>
                <div class="collapse navbar-collapse" id="navigation">
                  {{ if .is_logged_in }}
                  <ul class="navbar-nav ml-auto">
                    <!-- <li class="search-bar input-group">
                      <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
                        <span class="d-lg-none d-md-block">Search</span>
                      </button>
                    </li> -->
                    <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <div class="notification d-none d-lg-block d-xl-block"></div>
                        <i class="tim-icons icon-sound-wave"></i>
                        <p class="d-lg-none">
                          Notifications
                        </p>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
                        <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li>
                        <li class="nav-link"><a href="#" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                        <li class="nav-link"><a href="#" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                        <li class="nav-link"><a href="#" class="nav-item dropdown-item">Another notification</a></li>
                        <li class="nav-link"><a href="#" class="nav-item dropdown-item">Another one</a></li>
                      </ul>
                    </li>
                    <li class="dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <div class="photo">
                          <img src="{{ .user_img }}" alt="Profile Photo">
                        </div>
                        <b class="caret d-none d-lg-block d-xl-block"></b>
                        <p class="d-lg-none">
                          Log out
                        </p>
                      </a>
                      <ul class="dropdown-menu dropdown-navbar">
                        <li class="nav-link"><a href="/user" class="nav-item dropdown-item">Profile</a></li>
                        <li class="nav-link"><a href="/user" class="nav-item dropdown-item">Settings</a></li>
                        <li class="dropdown-divider"></li>
                        
                        <li class="nav-link"><a href="/logout" class="nav-item dropdown-item">Log out</a></li>
                        
                      </ul>
                    </li>
                    <li class="separator d-lg-none"></li>
                  </ul>
                  {{end}}
                </div>
              </div>
            </nav>
            <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <i class="tim-icons icon-simple-remove"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Navbar -->
