{{ template "base_head.html" . }}
      <div class="content">
        <div class="row">
          <div class="col-12">
            <!-- <div class="card card-chart">
              <div class="card-header "> -->
                <div class="row">
                  <div class="col-sm-12">
                    <!-- ======= Our Values Section ======= -->
    <section id="our-values" class="our-values">
        <div class="container">
          <div class="section-title">
            <h2>SOCIAL ENTREPRENEURSHIP</h2>
            <!-- <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p> -->
          </div>
  
          <div class="row">
            <div class="col-md-12 d-flex align-items-stretch" data-aos="fade-up">
              <div class="card" style='background-image: url("../assets/img/tyds.jpg");'>
                <div class="card-body">
                  <h5 class="card-title"><a href="">SOCIAL INNOVATORS</a></h5>
                  <p class="card-text">See our SOCIAL INNOVATORS program beneficiaries in the link below</p>
                  <div class="read-more"><a href="beneficiariesSE.html"><i class="icofont-arrow-right"></i>Learn More</a></div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="100">
              <div class="card" style='background-image: url("../assets/img/ft.jpg");'>
                <div class="card-body">
                  <h5 class="card-title"><a href="">DIGITAL JOB</a></h5>
                  <p class="card-text">See our DIGITAL JOB programs and their beneficiaries in the link below</p>
                  <div class="read-more"><a href="dibi.html"><i class="icofont-arrow-right"></i>Learn More</a></div>
                </div>
              </div>
  
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up">
              <div class="card" style='background-image: url("../assets/img/portfolio-2.jpg");'>
                <div class="card-body">
                  <h5 class="card-title"><a href="">DIGITAL BUSINESS</a></h5>
                  <p class="card-text">See our DIGITAL BUSINESS and their beneficiaries in the link below</p>
                  <div class="read-more"><a href="dij.html"><i class="icofont-arrow-right"></i> Learn More</a></div>
                </div>
              </div>
            </div>
            <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
              <div class="card" style='background-image: url("../assets/img/digitaltanzania-20210203-0003.jpg");'>
                <div class="card-body">
                  <h5 class="card-title"><a href="">TYDS</a></h5>
                  <p class="card-text">See our TYDS programs and their beneficiaries in the link below</p>
                  <div class="read-more"><a href="sed.html"><i class="icofont-arrow-right"></i> Leern More</a></div>
                </div>
              </div>
            </div> -->
          </div>
  
        </div>
      </section><!-- End Our Values Section -->

                      
                  </div>
                </div>
              <!-- </div>
            </div> -->
          </div>
        </div>
      </div>

      {{ template "base_footer.html" . }}