<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/logo1.png">
    <link rel="icon" type="image/png" href="../assets/img/logo1.png">
    <title>
        {{ .title }}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <script src="../assets/js/core/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/distt/jquery.tabledit.js"></script>
    <script type="text/javascript" src="../assets/distt/table_edit_custom.js"></script>
</head>

<body class="container home">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-bordered">
                    <center>
                        <p>Progress Tracking</p>
                    </center>
                    <table id="data_table" class="table table-striped">
                        <thead>
                            <tr>
                                <th hidden>
                                    id
                                </th>
                                <th>Detail</th>
                                <th>Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $k, $v := .Table}}
                            <tr>
                                <td>{{ $k }}</td>
                                {{ range $tkey, $tval := $v}}
                                <td>{{ $tkey }}</td>
                                <td>{{ $tval }}</td>
                                {{end}}
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <table class="table table-striped" id="data_table1">
                        <thead>
                            <tr></tr>
                            <th hidden>Id</th>
                            <th>Intervention</th>
                            <th>Lead</th>
                            <th>Date</th>
                            <th>Participation</th>
                            <th>Impact</th>
                            <th>Scoring</th>
                            <th>Outcome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <center>
                                <p>Virtual Training (All)</p>
                            </center>
                            {{range $k, $v := .Table2}}
                            <tr>
                                <td>{{ $k }}</td>
                                {{ range $tkey, $tval := $v}}
                                <td>{{ $tval }}</td>
                                {{end}}
                            </tr>
                            {{end}}
                        </tbody>
                    </table>
                    <table class="table table-striped" id="data_table2">
                        <thead>
                            <tr>
                                <th hidden>Id</th>
                                <th>Intervention</th>
                                <th>Lead</th>
                                <th>Date</th>
                                <th>Participation</th>
                                <th>Impact</th>
                                <th>Scoring</th>
                                <th>Outcome</th>
                            </tr>
                        </thead>
                        <tbody>
                            <center>
                                <p>Bootcamp (Top 10)</p>
                            </center>

                            {{range $k, $v := .Table3}}
                            <tr>
                                {{ range $tkey, $tval := $v}}
                                <td hidden>{{$tkey}}</td>
                                <td>{{ $tval }}</td>
                                {{end}}
                            </tr>
                            {{end}}
                        </tbody>
                    </table>

                    <table class="table table-striped" id="data_table3">
                        <thead>
                            <tr>
                                <th hidden>Id</th>
                                <th>Intervention</th>
                                <th>Lead</th>
                                <th>Date</th>
                                <th>Participation</th>
                                <th>Impact</th>
                                <th>Scoring</th>
                                <th>Outcome</th>
                            </tr>

                        </thead>
                        <tbody>
                            <center>
                                <p>Post Bootcamp Engagement (All)</p>
                            </center>

                            {{range $k, $v := .Table4}}
                            <tr>
                                {{ range $tkey, $tval := $v}}
                                <td hidden>{{$tkey}}</td>
                                <td>{{ $tval }}</td>
                                {{end}}
                            </tr>
                            {{end}}


                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>
    </div>



</body>

</html>