<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/logo1.png">
    <link rel="icon" type="image/png" href="../assets/img/logo1.png">
    <title>
        {{ .title }}
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/distt/jquery.tabledit.js"></script>
    <!-- <script type="text/javascript" src="../assets/distt/table_edit_custom.js"></script> -->
</head>

<body class="container home">
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive table-bordered">
                    <center>
                        <p>Progress Tracking</p>
                    </center>
                    <table id="data_table" class="table table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Key : </th>

                                <th>Name, Company, Sector : </th>

                                <th>Number of founders : </th>

                                <th>Level of Innovation on Joining Dare 2020 :</th>

                                <th>Current Level of the innovation :</th>

                                <th>Pivoted or Preserved : </th>

                                <th>Email Address :</th>

                                <th>Phone Number</th>

                                <th>Gender : </th>

                                <th>Date Joined : </th>

                                <th>Moodle Completion : </th>


                                <th>Important Links : </th>


                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td>Key : </td>

                                <td>Name, Company, Sector : </td>


                                <td>Number of founders : </td>

                                <td>Level of Innovation on Joining Dare 2020 :</td>

                                <td>Current Level of the innovation :</td>

                                <td>Pivoted or Preserved : </td>

                                <td>Email Address :</td>


                                <td>Phone Number</td>

                                <td>Gender : </td>

                                <td>Date Joined : </td>


                                <td>Moodle Completion : </td>

                                <td>Important Links : </td>


                            </tr>
                        </tbody>


                    </table>
                    <table class="table table-striped" id="data_table1">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Intervention</th>
                                <th>Lead</th>
                                <th>Date</th>
                                <th>Participation</th>
                                <th>Impact</th>
                                <th>Scoring</th>
                                <th>Outcome</th>
                            </tr>

                        </thead>
                        <tbody>
                            <center>
                                <p>Virtual Training (All)</p>
                            </center>

                            <tr>
                                <td>0</td>
                                <td>Business Assessment Tool (M&E Baseline)</td>
                                <td>DOT</td>
                                <td>31-Oct-20 to 03-Nov-20</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Onboarding to Dare To Change Tanzania 2020</td>
                                <td>DOT</td>
                                <td>44140</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Introduction to Social Enterprise</td>
                                <td>DOT</td>
                                <td>44141</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Gender Equality</td>
                                <td>DOT</td>
                                <td>44142</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Putting gender equality into practice</td>
                                <td>DOT/Moodle</td>
                                <td>44142</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Theory of Change, Mission and Vision</td>
                                <td>DOT</td>
                                <td>44144</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Introduction to Design Thinking: Customer Understanding</td>
                                <td>Obuntu</td>
                                <td>44144</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Design Thinking: Idea Testing and User Research Tools (Persona Canvas)</td>
                                <td>Obuntu + DOT</td>
                                <td>44145</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>8</td>
                                <td>Presenting Customer Research</td>
                                <td>Obuntu + DOT</td>
                                <td>44146</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>9</td>
                                <td>Social Enterprise Business Model Canvas</td>
                                <td>Ndoto</td>
                                <td>44146</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>10</td>
                                <td>Introduction to Personal Branding</td>
                                <td>Self Paced</td>
                                <td>44147</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>11</td>
                                <td>Pitching Submissions</td>
                                <td>DOT</td>
                                <td>44147</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>12</td>
                                <td>Financial Management</td>
                                <td>Ndoto</td>
                                <td>44148</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>

                    </table>
                    <table class="table table-striped" id="data_table2">
                        <thead>
                            <tr>
                                <th>Intervention</th>
                                <th>Lead</th>
                                <th>Date</th>
                                <th>Participation</th>
                                <th>Impact</th>
                                <th>Scoring</th>
                                <th>Outcome</th>
                            </tr>

                        </thead>
                        <tbody>
                            <center>
                                <p>Bootcamp (Top 10)</p>
                            </center>
                            <tr>
                                <td>Team Formulation Tool/Building your team</td>
                                <td>DOT + Ndoto</td>
                                <td>44151</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Gender equality</td>
                                <td></td>
                                <td>44151</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Personal Branding</td>
                                <td>DOT</td>
                                <td>44152</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Measure your Impact</td>
                                <td>DOT</td>
                                <td>44152</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                            <tr>
                                <td>Pitching Tools 1) Story Boarding & Pitch Deck Samples 2) Elavator Pitching Skills </td>
                                <td>Obuntu + DOT</td>
                                <td>44153</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Personal Branding Presentation</td>
                                <td>DOT </td>
                                <td>44153</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Gender Equality (Theatre of the oppressed)</td>
                                <td>DOT</td>
                                <td>44154</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Principles of Digital Development</td>
                                <td>Ndoto</td>
                                <td>44154</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Startup Tour</td>
                                <td>Obuntu</td>
                                <td>44155</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>East Africa Youth Enterprise Awards</td>
                                <td>YouLead</td>
                                <td>(20-24)-Nov-20</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Pitching Day</td>
                                <td>YouLead</td>
                                <td>44160</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Business Assessment Tool (M&E Endline 2)</td>
                                <td>DOT</td>
                                <td>(27-30)-Nov-20</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>

                    <table class="table table-striped" id="data_table3">
                        <thead>
                            <tr>
                                <th>Intervention</th>
                                <th>Lead</th>
                                <th>Date</th>
                                <th>Participation</th>
                                <th>Impact</th>
                                <th>Scoring</th>
                                <th>Outcome</th>
                            </tr>

                        </thead>
                        <tbody>
                            <center>
                                <p>Post Bootcamp Engagement (All)</p>
                            </center>
                            <tr>
                                <td>Meeting with DonorSee, QnA & Next Steps</td>
                                <td>DOT</td>
                                <td>44167</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Next steps and peer matching bootcamp knowledge and experience</td>
                                <td>DOT</td>
                                <td>44167</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Meeting with Top 5: Debrief on seed funding</td>
                                <td>DOT</td>
                                <td>44168</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Matches getting to know each other</td>
                                <td>Participants</td>
                                <td>3,4-Dec-2020</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Team building</td>
                                <td>DOT</td>
                                <td>44172</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Measure your impact</td>
                                <td>DOT</td>
                                <td>44173</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Measure your impact: Presentations and feedback</td>
                                <td>DOT</td>
                                <td>44173</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Pitching Tools</td>
                                <td>Obuntu</td>
                                <td>44175</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Pitch day! </td>
                                <td>Participants</td>
                                <td>44176</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Mentorship and Coaching orientation</td>
                                <td>DOT</td>
                                <td>44179</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>One on One engagement: Needs assessment</td>
                                <td>DOT</td>
                                <td>14,15,16-Dec-2020</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Virtual Christmas/End of Year Virtual Party!</td>
                                <td>DOT</td>
                                <td>44182</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Touching Base - Current Status, Plans moving forward</td>
                                <td>DOT</td>
                                <td>44209</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Group Coaching Session 1</td>
                                <td>Noeline</td>
                                <td>44222</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Group Coaching Session 2</td>
                                <td>Noeline</td>
                                <td>44229</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>A day with mentors (Salum)</td>
                                <td>Salum Awadh</td>
                                <td>44288</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>A day with mentors (Jumanne)</td>
                                <td>Jumanne Mtambalike</td>
                                <td>44410</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Group Coaching Session 3</td>
                                <td>Noeline</td>
                                <td>44441</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Moodle Recap and Support</td>
                                <td>DOT</td>
                                <td>TBD</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Deeper dive in to finance management</td>
                                <td>Ndoto</td>
                                <td>TBD</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Dealing with Failure</td>
                                <td>Obuntu</td>
                                <td>TBD</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Taking the next steps (3 moths post DARE 2020)</td>
                                <td></td>
                                <td>TBD</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>

    </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#data_table').Tabledit({
                deleteButton: false,
                editButton: false,
                columns: {
                    identifier: [0, 'Key'],
                    editable: [
                        [1, 'Name, Company, Sector'],
                        [2, 'Number of founders'],
                        [3, 'Level of Innovation on Joining Dare 2020'],
                        [4, 'Current Level of the innovation'],
                        [5, 'Pivoted or Preserved'],
                        [6, 'Email Address'],
                        [7, 'Phone Number'],
                        [8, 'Gender'],
                        [9, 'Date Joined'],
                        [10, 'Moodle Completion'],
                        [11, 'Important Links'],
                    ]
                },
                hideIdentifier: true,
                url: ""
            });
        });

        $(document).ready(function() {
            $('#data_table1').Tabledit({
                deleteButton: false,
                editButton: true,
                columns: {
                    identifier: [0, 'id'],
                    editable: [
                        [1, 'Intervention'],
                        [2, 'Lead'],
                        [3, 'Date'],
                        [4, 'Participation'],
                        [5, 'Impact'],
                        [6, 'Scoring'],
                        [7, 'Outcome'],
                    ]
                },
                hideIdentifier: true,
                url: "test"
            });
        });

        $(document).ready(function() {
            $('#data_table2').Tabledit({
                deleteButton: false,
                editButton: true,
                columns: {
                    identifier: [0, 'id'],
                    editable: [
                        [1, 'Intervention'],
                        [2, 'Lead'],
                        [3, 'Date'],
                        [4, 'Participation'],
                        [5, 'Impact'],
                        [6, 'Scoring'],
                        [7, 'Outcome'],
                    ]
                },
                hideIdentifier: true,
                url: ""
            });
        });

        $(document).ready(function() {
            $('#data_table3').Tabledit({
                deleteButton: false,
                editButton: true,
                columns: {
                    identifier: [0, 'id'],
                    editable: [
                        [1, 'Intervention'],
                        [2, 'Lead'],
                        [3, 'Date'],
                        [4, 'Participation'],
                        [5, 'Impact'],
                        [6, 'Scoring'],
                        [7, 'Outcome'],
                    ]
                },
                hideIdentifier: true,
                url: ""
            });
        });
    </script>

</body>

</html>